@import url('https://fonts.googleapis.com/css2?family=Playwrite+NL:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
}


body {
    background: linear-gradient(0deg, rgb(115, 231, 233) 0%, rgba(19,144,132,1) 100%);
    background-size: 120% 120%;
    display: flex;
    flex-direction: column;
    gap: 25px;  
}

.titulo{
    height: 50px;
    width: 105%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0a524a;
}

.titulo p{
    font-family: "Playwrite NL", cursive;
    color: white;
    font-weight: 500;
    font-size: large;

}

.criar-lista{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
}

.criar-lista form{
    display: flex;
    flex-direction: column;
    gap: 4px;
    border: solid 2px  white;
    border-radius: 2px;
    padding: 10px 10px;
    box-shadow: 10px 5px 5px rgb(65, 65, 65);
    
}
.criar-lista form #titulo{
    width: 300px;
}

.criar-lista form #descricao{
    height: 100px;
    width: 300px;
    text-align: start;
}

.criar-lista form #botao-criacao{
    border-radius: 2px;
    width: 100px;
}

.separacao{
    display: flex;
    align-items: center;
    justify-content: center; 
}

.separacao p{
    font-family: "Playwrite NL", cursive;
    color: white;
    font-weight: 500;
    font-size: large;
}

.container-lista{
    border: solid black;
    height: 1000px;
    width: 100%;
    border-radius: 2px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 10px 15px;
    
}

#lista{
    margin: 30px;
    height: 200px;
    width: 290px;
    border: solid 2px  white;
    border-radius: 2px;
    box-shadow: 10px 5px 5px rgb(65, 65, 65);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5px;
    padding-right: 5px;
    gap: 4px;
}

#lista.concluido{
    background-color: rgb(121, 119, 119);
    text-decoration: line-through;
}

#lista h4{
    font-family: "Roboto Condensed", sans-serif;
    color: white;
    font-weight: 600;
}

#lista p{
    font-family: "Roboto Condensed", sans-serif;
    color: rgb(59, 59, 59);
    height: 65%;
}

#selecao{
    height: 32px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#finalizar{
    width: 50%;
    display: flex;
    gap: 10%;
    font-family: "Roboto Condensed", sans-serif;
    color: white;
    font-weight: 600;

}

input[type=checkbox] {
    position: relative;
    cursor: pointer;
    background-color: rgba(19,144,132,1);
}

input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -5.5px;
    left: 0;
    border: solid white;
    background-color: rgb(121, 119, 119);
}



input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 0px;
    left: 12px;


}

#excluir {
    height: 32px;
    width: 64px;
    background: none;
    border: none;
}

#excluir img{
    height: 32px;
    width: 32px;
    cursor: pointer;
}

#excluir img:hover{
    height: 34px;
    width: 33px;
}